* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #c9cad2;
}

.main {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 4px 7px rgba(0, 0, 0, 0.2),
    inset -2px -3px 6px rgba(255, 255, 255, 0.3),
    -2px -3px 6px rgba(255, 255, 255, 0.3), inset 2px 3px 6px rgba(0, 0, 0, 0.2);
    width: 340px;
  }

h1 {
  text-align: center;
  padding: 10px;
  color: #0e4bc0;
}
#addtasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
#addtasks input {
  width: 78%;
  padding: 8px 4px;
  border-radius: 7px;
  font-size: 1em;
  border: 2px solid rgba(0, 0, 0, 0.45);
  outline: none;
  background-color: aliceblue;
  transition: all 0.3s ease;
  letter-spacing: 0.3px;
  color: #0c1123;
}
#addtasks input::placeholder {
  color: #10162ebd;
}
#addtasks input:focus,
input:hover {
  border: 2px solid #19b07dba;
  transition: all 0.3s ease;
}
#addtasks button {
  padding: 8px 15px;
  letter-spacing: 0.3px;
  background-color: #23a95c;
  font-size: 1.1em;
  color: #fcfcfc;
  border-radius: 6px;
  outline: none;
  border: none;
  transition: all 0.3s ease;
}
#addtasks button:hover {
  transform: scale(0.92);
  opacity: 0.92;
  transition: all 0.3s ease;
}
.tool {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 3px;
}
#break {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#center {
  width: 85%;
  height: 3px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.23);
}
.total {
  color: #07091c;
  font-size: 1.2em;
}
.tasks {
  padding: 10px 0;
}
.taskDetails {
  padding: 5px 0;
  margin: 6px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.taskDetails #addedTask {
  width: 65%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 1.2em;
}
.taskDetails button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  border: none;
}
#edit {
  color: #067d79;
  font-size: 19px;
}
#delete {
  font-size: 19px;
  color: #d73309;
}
#empty {
  text-align: center;
  font-size: 1em;
  padding: 5px;
  margin: 12px auto;
  color: grey;
}
#empty i {
  color: grey;
}
textarea {
  font-size: 18px !important;
  font-weight: 600;
  padding: 2px;
  color: #444454;
}
.check {
  color: #2ba563;
  font-size: 20px;
  transition: all 0.3s ease;
}
.uncheck {
  transition: all 0.3s ease;
  color: #07091c;
}

